@using Arkanis.Overlay.Domain.Models.Game
<MudStack Spacing="0">
    @if (Model.Location is { } locationReference && !Embedded)
    {
        <div style="height: 16px;">
            <GameLocationNamePart Model="@locationReference"/>
        </div>
    }
    <MudStack Style="@MainContentStyle" Spacing="1" Row>
        @if (Model.Company is { } companyReference)
        {
            <GameCompanyNamePart Model="@companyReference"/>
        }
        <GameEntityNamePart Model="@Model.MainContent" Embedded="@Embedded"/>
    </MudStack>
    @if (Model.Properties is { } properties && !Embedded)
    {
        <MudStack Style="height: 16px; max-width: 50vw; overflow: hidden;" Class="mt-n2 no-wrap" Row tabindex="-1">
            @foreach (var property in properties)
            {
                <MudStack Spacing="2" Row>
                    <span style="font-weight: lighter">@property.Key</span>
                    <b>@property.Value</b>
                </MudStack>
            }
        </MudStack>
    }
</MudStack>

@code
{

    private string MainContentStyle
        => Model.Location is not null || Model.Properties is { Count: > 0 }
            ? "height: 40px;"
            : "height: 56px;";

    [Parameter]
    public required GameEntityName Model { get; set; }

    [Parameter]
    public bool Embedded { get; set; }

}
