<MudText HtmlTag="code"
         Color="@Color.Secondary"
         Style="@CodeCss">
    @if (PrefixContent is not null)
    {
        <span>@PrefixContent</span>
    }
    <MudTooltip Text="@TooltipContent" Placement="@Placement.Top">
        <span>@Model.Code</span>
    </MudTooltip>
</MudText>

@code
{

    private string CodeCss
        => $"font-family: monospace; height: 18px; {NameCss}; {Style}";

    private string NameCss
        => !Embedded
            ? "font-weight: bold"
            : "font-weight: lighter";

    [Parameter]
    [EditorRequired]
    public required GameEntityName.IHasCode Model { get; set; }

    [Parameter]
    public bool Embedded { get; set; }

    [Parameter]
    public string? Style { get; set; }

    [Parameter]
    public RenderFragment? PrefixContent { get; set; }

    public string TooltipContent
        => Model is GameEntityName.Name name
            ? name.FullName
            : Model.Code;

}
