<MudStack Spacing="0"
          Class="game-entity-name-label">
    @if (Model.Location is { } locationReference && !Embedded)
    {
        <div class="header location" style="height: 16px;">
            <GameLocationNamePart Model="@locationReference"/>
        </div>
    }
    <MudStack Style="@MainContentStyle"
              Class="primary"
              Spacing="1"
              Row>
        @if (Model.Company is { } companyReference)
        {
            <div class="d-flex text-secondary flex-truncate">
                <GameCompanyNamePart Model="@companyReference"/>
            </div>
        }
        <GameEntityNamePart
            Class="no-wrap"
            Typo="@Typo"
            Model="@Model.MainContent"
            PreferCode="PreferCode"
            Embedded="@Embedded"/>
    </MudStack>
    @if (Model.Properties is { Count: > 0 } properties && !Embedded)
    {
        <MudStack Style="height: 18px; max-width: 50vw; overflow: hidden;"
                  Class="footer properties mt-n2 no-wrap"
                  Row>
            @foreach (var property in properties)
            {
                <MudStack Spacing="2" Row>
                    <span style="font-weight: lighter">@property.Key</span>
                    <b>@property.Value</b>
                </MudStack>
            }
        </MudStack>
    }
</MudStack>

@code
{

    private string MainContentStyle
        => Style
           ?? (Model.Location is not null || Model.Properties is { Count: > 0 }
               ? "height: 40px;"
               : "height: 56px;");

    [Parameter]
    public required GameEntityName Model { get; set; }

    [Parameter]
    public Typo? Typo { get; set; }

    [Parameter]
    public string? Style { get; set; }

    [Parameter]
    public bool Embedded { get; set; }

    [Parameter]
    public bool PreferCode { get; set; }

}
