@using Arkanis.Overlay.Components.Extensions
@using Arkanis.Overlay.External.MedRunner.Models
@using Microsoft.JSInterop
@using Origin = MudBlazor.Origin
@implements IDisposable
@inherits MedRunnerComponentBase
@inject IDialogService DialogService
@inject IJSRuntime JsRuntime

<MudGrid>
    <MudItem xs="12" md="5">
        <MudStack AlignItems="@AlignItems.Center"
                  Class="h-100 w-100">
            <MudTimeline Class="w-100"
                         Style="min-height: 100%"
                         TimelineAlign="@TimelineAlign.Start"
                         TimelineOrientation="@TimelineOrientation.Vertical"
                         TimelinePosition="@TimelinePosition.Left">
                @if (Context.Emergency is not null)
                {
                    <MedRunnerTimelineItem
                        Type="@MedRunnerTimelineItem.EventType.Submitted"
                        CreatedAt="@Context.Emergency.CreatedAt"/>
                }
                @if (Context.Emergency?.Status is MissionStatus.Pending)
                {
                    <MedRunnerTimelineItem Type="@MedRunnerTimelineItem.EventType.ResponsePending">
                        @CancelButton
                    </MedRunnerTimelineItem>
                }
                @if (Context.Emergency?.AcceptedAt is { } acceptedAt)
                {
                    <MedRunnerTimelineItem
                        Type="@MedRunnerTimelineItem.EventType.Accepted"
                        CreatedAt="@acceptedAt"/>
                }
                @if (Context.Emergency?.CompletedAt is { } completedAt)
                {
                    var type = Context.Emergency.Status is MissionStatus.Completed
                        ? MedRunnerTimelineItem.EventType.Completed
                        : MedRunnerTimelineItem.EventType.Cancelled;
                    <MedRunnerTimelineItem Type="type"
                                           CreatedAt="@completedAt">
                        @if (HasEmergencyInProgress)
                        {
                            <MudButton Variant="@Variant.Outlined"
                                       Color="@Color.Success"
                                       Size="@Size.Small"
                                       OnClick="@FinalizeAsync"
                                       StartIcon="@Icons.Material.Filled.Check">
                                Finalize
                            </MudButton>
                        }
                    </MedRunnerTimelineItem>
                }
            </MudTimeline>
        </MudStack>
    </MudItem>
    <MudItem xs="12" md="7" Class="pa-5 mt-5">
        <div @ref="_chatContainer"
             class="overflow-y-scroll"
             style="height: 30vh">
            <MudStack Justify="@Justify.FlexEnd"
                      Class="pb-3">
                @if (_chatMessages.Count == 0)
                {
                    <MudText Typo="@Typo.caption"
                             Align="@Align.Center"
                             Class="text-secondary">
                        @if (Context.Emergency?.Status is MissionStatus.Pending)
                        {
                            <span>Please wait to be connected with the emergency responders.</span>
                        }
                        else if (Context.Emergency?.Status is MissionStatus.Accepted)
                        {
                            <span>Your request has been accepted and the dispatch team lead has been assigned.</span>
                        }
                        else if (Context.Emergency?.Status is MissionStatus.Cancelled)
                        {
                            <span>Your request has been cancelled.</span>
                        }
                    </MudText>
                }
                @for (var messageIndex = 0; messageIndex < _chatMessages.Count; messageIndex++)
                {
                    var firstMessage = _chatMessages[messageIndex];
                    var isClientMessage = firstMessage.SenderId != Context.Emergency?.ClientId;
                    var messages = _chatMessages
                        .Skip(messageIndex)
                        .TakeWhile(x => x.SenderId == firstMessage.SenderId)
                        .ToArray();

                    messageIndex += messages.Length;
                    if (firstMessage.SenderId == string.Empty)
                    {
                        @foreach (var message in messages)
                        {
                            <MudText Typo="@Typo.caption"
                                     Align="@Align.Center"
                                     Class="text-secondary">
                                @message.Content
                            </MudText>
                        }

                        continue;
                    }

                    <MedRunnerChatMessages
                        Models="@messages"
                        FromClient="@isClientMessage"/>
                }
                @if (Context.Emergency?.RefusalReason is { Length: > 0 } reason)
                {
                    <MedRunnerChatMessages
                        MessageContent="@reason"/>
                }
            </MudStack>
        </div>

        <MudTextField
            @ref="_messageContentInput"
            Label="Message content"
            Placeholder="Communicate with the emergency dispatch"
            @bind-Value="@_messageContent"
            OnKeyUp="@TrySendChatMessageAsync"
            Class="chat-input"
            Disabled="@IsChatDisabled"
            Immediate
            AutoGrow/>
    </MudItem>
</MudGrid>

@code
{

    private Timer? _timer;
    private List<ChatMessage> _chatMessages = [];
    private string _messageContent = string.Empty;
    private MudTextField<string>? _messageContentInput;
    private ElementReference _chatContainer;

    private CancellationReason[] CancellationReasons { get; } =
    [
        CancellationReason.SuccumbedToWounds,
        CancellationReason.ServerError,
        CancellationReason.Respawned,
        CancellationReason.Other,
    ];

    private bool IsChatDisabled
        => !HasEmergencyInProgress
           || Context.Emergency?.Status is MissionStatus.Pending;

    [Parameter]
    public string? StatusTitle { get; set; }

    [Parameter]
    public EventCallback<string?> StatusTitleChanged { get; set; }

    private RenderFragment CancelButton
        => @<MudMenu AnchorOrigin="@Origin.BottomCenter"
                     TransformOrigin="@Origin.TopCenter"
                     ActivationEvent="@MouseEvent.LeftClick"
                     Class="w-100"
                     Dense>
               <ActivatorContent>
                   <MudButton Variant="@Variant.Outlined"
                              Color="@Color.Error"
                              Size="@Size.Small"
                              Class="w-100"
                              StartIcon="@Icons.Material.Filled.Cancel">
                       Cancel response
                   </MudButton>
               </ActivatorContent>
               <ChildContent>
                   <MudText Typo="@Typo.caption" Class="text-secondary px-6">
                       Please provide a reason
                   </MudText>
                   @foreach (var reason in CancellationReasons)
                   {
                       <MudMenuItem OnClick="@(() => CancelAsync(reason))">
                           @reason.Humanize()
                       </MudMenuItem>
                   }
               </ChildContent>
           </MudMenu>;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _timer = new Timer(OnTimerTick, null, TimeSpan.Zero, TimeSpan.FromMilliseconds(500));
        MedRunner.WebSocket.Events.ChatMessageCreated += OnChatMessageCreated;
        MedRunner.WebSocket.Events.ChatMessageUpdated += OnChatMessageUpdated;

        await PerformSafeAsync(async () =>
            {
                await MedRunner.WebSocket.EnsureInitializedAsync();

                if (HasEmergency)
                {
                    var messagesResponse = await MedRunner.ChatMessage.GetMessageHistoryAsync(EmergencyId, 50);
                    if (messagesResponse.Success)
                    {
                        _chatMessages = messagesResponse.Data.Data;
                    }
                }
            }
        );
    }

    private async void OnTimerTick(object? _)
    {
        try
        {
            await InvokeAsync(StateHasChanged);
        }
        catch
        {
            // ignore
        }
    }

    private void OnChatMessageCreated(object? _, ChatMessage chatMessage)
        => _chatMessages.Add(chatMessage);

    private void OnChatMessageUpdated(object? _, ChatMessage chatMessage)
    {
        if (_chatMessages.FindIndex(x => x.Id == chatMessage.Id) is not (var index and >= 0))
        {
            return;
        }

        _chatMessages[index] = chatMessage;
        InvokeAsync(StateHasChanged);
    }

    private async Task CancelAsync(CancellationReason reason)
    {
        if (!Context.IsEmergencyInProgress)
        {
            return;
        }

        var options = new MessageBoxOptions
        {
            Title = "Are you sure?",
            MarkupMessage = new MarkupString($"Do you really want to cancel an <u>already accepted</u> rescue mission with reason <b>{reason.Humanize().ToLowerInvariant()}</b>?"),
            YesText = "Remove",
            CancelText = "Cancel",
        };
        if (Context.Emergency.Status == MissionStatus.Accepted && await DialogService.ShowMessageBox(options) == false)
        {
            return;
        }

        await PerformSafeAsync(async () =>
            {
                Context.Emergency.CancellationReason = reason;
#if DEBUG
                await Task.Delay(TimeSpan.FromMilliseconds(100));
                Context.Emergency.Status = MissionStatus.Cancelled;
                Context.Emergency.CompletionTimestamp = DateTimeOffset.Now.ToUnixTimeSeconds();
                await ContextChanged.InvokeAsync(Context);
#else
                await MedRunner.Emergency.CancelEmergencyWithReasonAsync(EmergencyId, reason);
#endif
            }
        );
    }

    private async Task FinalizeAsync()
    {
        if (!Context.IsEmergencyInProgress)
        {
            return;
        }

        await PerformSafeAsync(async () =>
            {
#if DEBUG
                await Task.Delay(TimeSpan.FromMilliseconds(100));
                Context.Emergency.Status = MissionStatus.Completed;
                Context.Emergency.CompletionTimestamp = DateTimeOffset.Now.ToUnixTimeSeconds();
                await ContextChanged.InvokeAsync(Context);
#else
                await MedRunner.Emergency.CancelEmergencyWithReasonAsync(EmergencyId, CancellationReason.Rescued);
#endif
            }
        );
    }

    private async Task TrySendChatMessageAsync(KeyboardEventArgs eventArgs)
    {
        if (eventArgs.GetKey() is not KeyboardKey.Enter)
        {
            return;
        }

        var content = _messageContent.Trim();
        _messageContent = string.Empty;
        await _messageContentInput!.BlurAsync();

        if (!HasEmergencyInProgress || !IsChatDisabled)
        {
            await _messageContentInput!.FocusAsync();
            return;
        }

        await PerformSafeAsync(async () =>
            {
#if DEBUG
                await Task.Delay(TimeSpan.FromMilliseconds(100));
                _chatMessages.Add(
                    new ChatMessage
                    {
                        Id = Guid.NewGuid().ToString(),
                        EmergencyId = EmergencyId,
                        SenderId = Context.ClientInfo?.Id ?? Emergency.ClientId ?? string.Empty,
                        Content = content,
                    }
                );
#else
                await MedRunner.ChatMessage.SendMessageAsync();
#endif
                await _messageContentInput!.FocusAsync();
            }
        );
    }

    public void Dispose()
    {
        _timer?.Dispose();
        MedRunner.WebSocket.Events.ChatMessageCreated -= OnChatMessageCreated;
        MedRunner.WebSocket.Events.ChatMessageUpdated -= OnChatMessageUpdated;
    }
}
