@using Arkanis.Overlay.Domain.Models.Game
@using Arkanis.Overlay.Domain.Models.Trade
<MudStack Style="@PriceTagCss"
          Spacing="0"
          Justify="@Justify.Center"
          AlignItems="@AlignItems.Center">
    @if (Label is not null)
    {
        <b>@Label</b>
    }
    @if (Model is UserPriceTag userPriceTag)
    {
        <span>@userPriceTag.Price.ToString("N0")</span>
        <GameEntityNameCodePart Model="@(userPriceTag.Location.Name.Parts.OfType<GameEntityName.IHasCode>().First())">
            <PrefixContent>
                <span class="text-secondary mr-1">at</span>
            </PrefixContent>
        </GameEntityNameCodePart>
    }
    else if (Model is UnknownPriceTag)
    {
        <i class="text-secondary">Unknown</i>
    }
</MudStack>

@code
{

    private string PriceTagCss
        => Color is not null
            ? $"color: {Color}"
            : string.Empty;

    [Parameter] [EditorRequired] public required PriceTag Model { get; set; }

    [Parameter] public string? Label { get; set; }

    [Parameter] public string? Color { get; set; } = "lightskyblue";

}
