@using ArkanisOverlay.Data.Entities.UEX
<MudPaper Style="width: 100%" Class="search-result px-4 py-2 focus" tabindex="0">
    <MudStack Row="true" Style="width: 100%"
              Class="justify-center align-center align-content-center">
        <MudIcon Icon="@Icons.Material.Outlined.Diamond"></MudIcon>
        <MudDivider Vertical="true" FlexItem="true"></MudDivider>
        <h1 class="flex-1">@Commodity.Name</h1>
        <MudStack Style="width: 8em; color: lightskyblue;" AlignItems="AlignItems.Center" Spacing="2">
            <p>Avg. Buy:</p>
            @if (Commodity.PriceBuy == 0)
            {
                <p>—</p>
            }
            else
            {
                <p>@Commodity.PriceBuy.ToString("N0") UEC</p>
            }
        </MudStack>
        <MudStack Style="width: 8em; color: sandybrown;" AlignItems="AlignItems.Center" Spacing="2">
            <p>Avg. Sell:</p>
            @if (Commodity.PriceSell == 0)
            {
                <p>—</p>
            }
            else
            {
                <p>@Commodity.PriceSell.ToString("N0") UEC</p>
            }
        </MudStack>
        <MudDivider Vertical="true" FlexItem="true"></MudDivider>
        <MudIconButton Icon="@MaterialSymbols.Outlined.AddShoppingCart" Class="focus"
                       tabindex="1">
        </MudIconButton>
        <MudDivider Vertical="true" FlexItem="true"></MudDivider>
        <MudIconButton Icon="@MaterialSymbols.Outlined.RemoveShoppingCart" Class="focus"
                       tabindex="1">
        </MudIconButton>
    </MudStack>
</MudPaper>

@code {
    [Parameter] public required CommodityEntity Commodity { get; set; }
}