@page "/"
@using Arkanis.Overlay.Common
@using Arkanis.Overlay.Components.Shared.Dialogs
@using Arkanis.Overlay.Components.Views.Components
@using Arkanis.Overlay.Domain.Abstractions.Services
@using Arkanis.Overlay.Domain.Models.Game
@using Arkanis.Overlay.Host.Server.Models
@using Arkanis.Overlay.Host.Server.Services
@using MoreLinq
@inject IDialogService DialogService
@inject GitHubReleasesService GitHubReleasesService
@inject IGameEntityRepository<GameTerminal> GameTerminalRepository
@inject IGameEntityRepository<GameItem> GameItemRepository
@inject IGameEntityRepository<GameCommodity> GameCommodityRepository

<style>
    .embed-wrapper {
        background: #833AB4;
        background: linear-gradient(90deg, rgba(131, 58, 180, .33) 0%, rgba(253, 29, 29, .33) 50%, rgba(252, 176, 69, .33) 100%);
        overflow: hidden;

        &.reverse {
            background: linear-gradient(90deg, rgba(252, 176, 69, .33) 0%, rgba(253, 29, 29, .33) 50%, rgba(131, 58, 180, .33) 100%);
        }
    }
</style>

<PageTitle>@ApplicationConstants.ApplicationName — Overlay Demo</PageTitle>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudContainer Class="w-100">
            <MudStack Class="w-100" AlignItems="@AlignItems.Center" Row>
                <MudText Typo="@Typo.h5" Class="mr-4">Arkanis Overlay</MudText>
                <MudButton StartIcon="@Icons.Material.Filled.ScreenshotMonitor" Href="/search">
                    Demo
                </MudButton>
                <MudButton StartIcon="@Icons.Custom.Brands.GitHub" Href="@GitHubRepositoryUrl" Target="_blank">
                    GitHub
                </MudButton>
                <MudSpacer/>
                <MudLink Href="https://discord.com/users/174617873182883841" Target="_blank">
                    <MudAvatar title="FatalMerlin">
                        FM
                    </MudAvatar>
                </MudLink>
                <MudLink Href="https://discord.com/users/224580858432978944" Target="_blank">
                    <MudAvatar title="TheKronnY">
                        TK
                    </MudAvatar>
                </MudLink>
                <MudIconButton
                    Icon="@Icons.Material.Outlined.Info"
                    Color="Color.Inherit"
                    Edge="Edge.End"
                    OnClick="@(() => AboutDialog.ShowAsync(DialogService))"/>
            </MudStack>
        </MudContainer>
    </MudAppBar>
    <MudMainContent Class="pb-8">
        <MudContainer MaxWidth="MaxWidth.Large" Class="mt-12">
            <MudPaper Class="pa-6 text-center">
                <MudText Typo="Typo.h3" Class="mb-2">Welcome to the Arkanis Overlay Demo</MudText>
                <MudText Typo="Typo.subtitle1" Class="mb-4">
                    Experience a new level of usability in Star Citizen
                    — search tools, trading info, location data, and more.
                    Built with performance and extensibility in mind.
                </MudText>
                <MudStack Wrap="@Wrap.Wrap" Row>
                    <MudButtonGroup OverrideStyles="false">
                        <AssetDownloadButton
                            T="GitHubAppRelease"
                            Name="Installer"
                            Release="ReleaseAppRelease"
                            AssetSelector="@(release => release.InstallerAsset)"/>
                        <AssetDownloadButton
                            T="GitHubAppRelease"
                            Name="Portable"
                            Release="ReleaseAppRelease"
                            AssetSelector="@(release => release.PortableAsset)"/>
                    </MudButtonGroup>
                    <MudButton Variant="Variant.Outlined"
                               Color="Color.Secondary"
                               StartIcon="@Icons.Material.Filled.Web"
                               Href="https://arkanis.cc"
                               Target="_blank">
                        Visit Arkanis Website
                    </MudButton>
                    <MudButton Variant="Variant.Outlined"
                               Color="Color.Secondary"
                               StartIcon="@Icons.Custom.Brands.Discord"
                               Href="https://join.arkanis.cc"
                               Target="_blank">
                        Join the Community
                    </MudButton>
                    <MudButton Variant="Variant.Outlined"
                               Color="Color.Secondary"
                               StartIcon="@Icons.Custom.Brands.GitHub"
                               Href="@GitHubRepositoryUrl"
                               Target="_blank">
                        Visit GitHub
                    </MudButton>
                </MudStack>
            </MudPaper>

            <MudDivider Class="my-8"/>

            <MudText Typo="Typo.body2" Align="Align.Center" Class="mb-4">
                Instantly find Star Citizen items, commodities, or locations. Start typing to explore what the 'verse
                has to offer — fast, accurate, and always in-game.
            </MudText>

            <MudPaper Class="pa-12 mb-4 embed-wrapper">
                <div class="mr-n2">
                    <SearchBox
                        HelperText="Use the search as you normally would in the game overlay! Check out the demo."
                        MinWidth="100%"/>
                </div>
            </MudPaper>

            <MudStack Justify="@Justify.Center" Wrap="@Wrap.Wrap" Row>
                <MudButtonGroup OverrideStyles="false">
                    <AssetDownloadButton
                        T="GitHubAppRelease"
                        Name="Installer"
                        Release="ReleaseAppRelease"
                        AssetSelector="@(release => release.InstallerAsset)"/>
                    <AssetDownloadButton
                        T="GitHubAppRelease"
                        Name="Portable"
                        Release="ReleaseAppRelease"
                        AssetSelector="@(release => release.PortableAsset)"/>
                </MudButtonGroup>
                <MudButton Variant="Variant.Outlined"
                           Color="Color.Secondary"
                           StartIcon="@Icons.Material.Filled.ScreenshotMonitor"
                           Href="/search">
                    Try it out
                </MudButton>
            </MudStack>

            <MudDivider Class="my-8"/>

            <MudGrid Justify="@Justify.Center" Class="mb-4 align-center">
                <MudItem xs="12" md="4">
                    <MudPaper Class="pa-4">
                        <MudStack>
                            <MudText Typo="Typo.h6">🔍 In-Game Item Search</MudText>
                            <MudText Typo="Typo.body2">
                                Search through Star Citizen items using full-text fuzzy matching and get instant
                                attribute
                                and price visibility.
                            </MudText>
                            <MudButton Variant="Variant.Outlined"
                                       Color="Color.Secondary"
                                       StartIcon="@Icons.Material.Filled.ScreenshotMonitor"
                                       Href="/search">
                                Try it out
                            </MudButton>
                        </MudStack>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12" md="8">
                    <MudPaper Class="py-12 pl-12 embed-wrapper">
                        <MudStack Class="mr-n2">
                            @foreach (var (index, item) in Items.Index())
                            {
                                <SearchResultItem
                                    Model="@item"
                                    ItemIndex="@index"/>
                            }
                        </MudStack>
                    </MudPaper>
                </MudItem>
            </MudGrid>

            <MudGrid Justify="@Justify.Center" Class="my-4 align-center flex-wrap-reverse">
                <MudItem xs="12" md="8">
                    <MudPaper Class="py-12 pl-12 embed-wrapper reverse">
                        <MudStack Class="mr-n2">
                            @foreach (var (index, commodity) in Commodities.Index())
                            {
                                <SearchResultItem
                                    Model="@commodity"
                                    ItemIndex="@index"/>
                            }
                        </MudStack>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12" md="4">
                    <MudPaper Class="pa-4">
                        <MudStack>
                            <MudText Typo="Typo.h6">📦 Commodity Market Viewer</MudText>
                            <MudText Typo="Typo.body2">
                                View live commodity prices by location. Filter and compare by system, planet, or station
                                for
                                better trade planning.
                            </MudText>
                            <MudButton Variant="Variant.Outlined"
                                       Color="Color.Secondary"
                                       StartIcon="@Icons.Material.Filled.ScreenshotMonitor"
                                       Href="/search">
                                Try it out
                            </MudButton>
                        </MudStack>
                    </MudPaper>
                </MudItem>

            </MudGrid>
            <MudGrid Justify="@Justify.Center" Class="my-4 align-center">

                <MudItem xs="12" md="4">
                    <MudPaper Class="pa-4">
                        <MudStack>
                            <MudText Typo="Typo.h6">🌌 Location Lookup</MudText>
                            <MudText Typo="Typo.body2">
                                Search locations across the 'verse and explore their context
                                — which planet, moon, or star system they belong to.
                            </MudText>
                            <MudButton Variant="Variant.Outlined"
                                       Color="Color.Secondary"
                                       StartIcon="@Icons.Material.Filled.ScreenshotMonitor"
                                       Href="/search">
                                Try it out
                            </MudButton>
                        </MudStack>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12" md="8">
                    <MudPaper Class="py-12 pl-12 embed-wrapper">
                        <MudStack Class="mr-n2">
                            @foreach (var (index, terminal) in Terminals.Index())
                            {
                                <SearchResultItem
                                    Model="@terminal"
                                    ItemIndex="@index"/>
                            }
                        </MudStack>
                    </MudPaper>
                </MudItem>
            </MudGrid>

            <MudDivider Class="my-8"/>

            <MudPaper Elevation="0" Class="pa-6 text-center">
                <MudText Typo="Typo.h5" Class="mb-2">Built with the Community in Mind</MudText>
                <MudText Typo="Typo.body1" Class="mb-4">
                    Arkanis Overlay is free to use and open source.
                    Contribute, test, or suggest improvements on GitHub or Discord.
                </MudText>
                <MudStack Row>
                    <MudButton Variant="Variant.Outlined"
                               Color="Color.Secondary"
                               StartIcon="@Icons.Custom.Brands.Discord"
                               Href="@DiscordUrl"
                               Target="_blank">
                        Join the Community
                    </MudButton>
                    <MudButton Variant="Variant.Outlined"
                               Color="Color.Secondary"
                               StartIcon="@Icons.Custom.Brands.GitHub"
                               Href="@GitHubRepositoryUrl"
                               Target="_blank">
                        Check out the Code
                    </MudButton>
                </MudStack>
            </MudPaper>
        </MudContainer>

    </MudMainContent>
</MudLayout>

@code
{

    private const string GitHubRepositoryUrl = ApplicationConstants.GitHubRepositoryUrl;
    private const string DiscordUrl = "https://join.arkanis.cc";

    private AppRelease ReleaseAppRelease { get; set; } = AppReleaseMissing.Instance;
    private GameTerminal[] Terminals { get; set; } = [];
    private GameCommodity[] Commodities { get; set; } = [];
    private GameItem[] Items { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        ReleaseAppRelease = await GitHubReleasesService.GetLatestStableDownloadsAsync();
        Terminals = Array.Empty<GameTerminal>()
            .Append(await GameTerminalRepository.GetAsync(UexApiGameEntityId.Create<GameTerminal>(259)))
            .Append(await GameTerminalRepository.GetAsync(UexApiGameEntityId.Create<GameTerminal>(511)))
            .Append(await GameTerminalRepository.GetAsync(UexApiGameEntityId.Create<GameTerminal>(13)))
            .Where(terminal => terminal is not null)
            .OfType<GameTerminal>()
            .ToArray();

        Items = Array.Empty<GameItem>()
            .Append(await GameItemRepository.GetAsync(UexApiGameEntityId.Create<GameItem>(1932)))
            .Append(await GameItemRepository.GetAsync(UexApiGameEntityId.Create<GameItem>(1931)))
            .Append(await GameItemRepository.GetAsync(UexApiGameEntityId.Create<GameItem>(1759)))
            .Where(item => item is not null)
            .OfType<GameItem>()
            .ToArray();

        Commodities = Array.Empty<GameCommodity>()
            .Append(await GameCommodityRepository.GetAsync(UexApiGameEntityId.Create<GameCommodity>(60)))
            .Append(await GameCommodityRepository.GetAsync(UexApiGameEntityId.Create<GameCommodity>(58)))
            .Append(await GameCommodityRepository.GetAsync(UexApiGameEntityId.Create<GameCommodity>(63)))
            .Where(commodity => commodity is not null)
            .OfType<GameCommodity>()
            .ToArray();
    }

}
