@using System.Text
@using Arkanis.Overlay.Components.Shared.Dialogs
@using Arkanis.Overlay.Components.Views.Components
@using Arkanis.Overlay.Domain.Enums
@using Arkanis.Overlay.Domain.Models.Analytics
@using Arkanis.Overlay.Domain.Models.Search
@using Humanizer
@inject ILogger<SearchView> Logger
@inject IDialogService DialogService
@inject ISearchService SearchService
@inject IUserPreferencesProvider UserPreferencesProvider
@inject IGlobalAnalyticsReporter GlobalAnalyticsReporter
@inject EventInterop EventInterop

<!--suppress CssUnusedSymbol, CssUnresolvedCustomProperty -->
<style>
    .controls-container {
        position: sticky;
        width: 100%;
        top: 0;
        z-index: 100;

        & > .controls-inner-wrapper {
            position: absolute;
            height: 100vh;
            display: flex;
            flex-direction: column;

            &.right {
                right: 0;
                align-items: flex-end;
            }

            &.left {
                left: 0;
                align-items: flex-start;
            }
        }
    }

    #currentLocation > div {
        border: 1px solid var(--mud-palette-lines-inputs);
        border-radius: var(--mud-default-borderradius);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
    }

    #currentLocation + .focus-region {
        .mud-input-control.mud-input-input-control {
            fieldset.mud-input-outlined-border {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    @@keyframes fadeInDown {
        0% {
            transform: translateY(-50%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @@keyframes fadeInLeft {
        0% {
            transform: translateX(10%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    #search-box-container {
        animation: 250ms fadeInDown;
    }

    .search-result-container {
        animation: 125ms fadeInLeft;
    }

    #searchContainer {
        position: sticky;
        z-index: 1;
        margin: 0 auto;

        .mud-input-control {
            margin: 0;
        }

        .mud-input,
        .mud-input-control > .mud-input-control-input-container > .mud-input-label-inputcontrol {
            font-size: 2vh; /* 1 rem is default */
        }

        .mud-icon-size-medium {
            font-size: 2.5vh;
        }
    }

    .focus:focus {
        outline: 2px solid var(--mud-palette-primary);
    }

    .mud-snackbar {
        min-width: 0;
    }

    .mud-icon-button.focus {
        border-radius: 0;
    }
</style>

<div style="@ContainerCss">
    <div class="controls-container">
        <div class="controls-inner-wrapper right pa-4">
            <MudStack Spacing="1" AlignItems="@AlignItems.End" Justify="@Justify.FlexEnd">
                <MudIconButton
                    Color="Color.Primary"
                    Class="action"
                    Icon="@MaterialSymbols.Outlined.Info"
                    OnClick="OpenAboutDialogAsync"/>
                <MudIconButton
                    Color="Color.Primary"
                    Class="action"
                    Icon="@MaterialSymbols.Outlined.Settings"
                    OnClick="OpenUserOptionsDialogAsync"/>
            </MudStack>
            <MudSpacer/>
            <MudStack Spacing="1" AlignItems="@AlignItems.End" Justify="@Justify.FlexEnd">
                <UEXBadge/>
            </MudStack>
        </div>
    </div>
    <MudStack id="searchContainer" Class="d-flex justify-start align-center flex-grow-1 px-3">
        <div style="padding: 7.5vh"></div>

        <CascadingValue Value="@_searchContext">
            <SearchBox
                @ref="_searchBox"
                @bind-SearchText="@SearchText"
                @bind-SearchText:after="@SearchAsync"
                HelperText="@ShortcutsText"/>

            @if (SearchResults.GameEntities.Count > 0)
            {
                <MudChip T="string" Variant="@Variant.Text">
                    Found @SearchResults.GameEntities.Count results in @SearchResults.SearchTime.Humanize()
                </MudChip>

                <SearchResultStack Model="SearchResults"/>
            }
        </CascadingValue>

    </MudStack>
</div>

@code
{

    [SupplyParameterFromQuery(Name = "q")]
    public string SearchText { get; set; } = string.Empty;

    private const StringSplitOptions SplittingOptions
        = StringSplitOptions.RemoveEmptyEntries
          | StringSplitOptions.TrimEntries;

    private static CancellationTokenSource _searchCancellation = new();
    private static SearchBox? _searchBox;

    private readonly Dictionary<string, EntityCategorySearch> _categorySearchShortcuts = new()
    {
        [":i"] = new EntityCategorySearch(GameEntityCategory.Item),
        [":c"] = new EntityCategorySearch(GameEntityCategory.Commodity),
        [":s"] = new EntityCategorySearch(GameEntityCategory.SpaceShip),
        [":g"] = new EntityCategorySearch(GameEntityCategory.GroundVehicle),
        [":l"] = new EntityCategorySearch(GameEntityCategory.Location),
        [":f"] = new EntityCategorySearch(GameEntityCategory.Company),
    };

    private OverlaySearchContext _searchContext = new();

    private string ContainerCss
        => $"min-height: 100vh; {ContainerBlurCss}";

    private string ContainerBlurCss
        => UserPreferencesProvider.CurrentPreferences.BlurBackground
            ? "backdrop-filter: blur(12px);"
            : "";

    private string ShortcutsText
        => new StringBuilder().AppendJoin(", ", _categorySearchShortcuts.Select(search => $"{search.Key} {search.Value.Category.Humanize().Pluralize()}")).ToString();

    private GameEntitySearchResults SearchResults { get; set; } = GameEntitySearchResults.Empty;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await SearchAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender && _searchBox is not null)
        {
            _searchContext = new OverlaySearchContext
            {
                UpdateSearch = EventCallback.Factory.Create<OverlaySearchContext>(this, OnSearchContextChange),
                SearchBox = _searchBox,
            };

            var windowFocusHandler = EventInterop.CreateHandler(_searchBox.FocusSearchBoxAsync);
            await EventInterop.RegisterWindowEventHandlerAsync("focus", windowFocusHandler);
        }
    }

    private async Task OnSearchContextChange(OverlaySearchContext newContext)
        => await SearchAsync();

    private async Task SearchAsync()
    {
        try
        {
            if (string.IsNullOrWhiteSpace(SearchText))
            {
                Logger.LogDebug("Search text is empty, no search performed");
                SearchResults = GameEntitySearchResults.Empty;
                return;
            }

            var searchQueries = SearchText.Split(' ', SplittingOptions)
                .Select(searchPart => searchPart.StartsWith(':')
                    ? _categorySearchShortcuts.GetValueOrDefault(searchPart.ToLower()) ?? EmptySearch.Instance
                    : TextSearch.Fuzzy(searchPart)
                )
                .Where(search => search is not EmptySearch)
                .ToList();

            // increases the score of results that contain / match all search terms (in order)
            // var combinedSearchQuery = TextSearch.Combine(searchQueries);
            // searchQueries = searchQueries.Prepend(combinedSearchQuery).ToList();

            if (_searchContext.CurrentLocation is { } location)
            {
                searchQueries.Add(new LocationSearch(location));
            }

            await _searchCancellation.CancelAsync();
            _searchCancellation = new CancellationTokenSource();
            SearchResults = await SearchService.SearchAsync(searchQueries, _searchCancellation.Token);
            await GlobalAnalyticsReporter.TrackEventAsync(new SearchEvent(SearchText));
        }
        catch (OperationCanceledException)
        {
            // search has been cancelled (possibly by another search)
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error during search");
        }
    }

    private async Task OpenUserOptionsDialogAsync()
        => await UserPreferencesEditDialog.ShowAsync(DialogService);

    private async Task OpenAboutDialogAsync()
        => await AboutDialog.ShowAsync(DialogService);

}
